

.form-control{
border-color:indigo;
}


.border {
  padding: 3%;
  border-color: white;
  width: 30%;
  background-color: white;
  float:left;
  margin-left: 5%;
  margin-bottom: 2%;
}

.btn{
  margin: 10px;
}
.var{
  float:right;
  background-color: white;
  width: 50%;
  border: 15px black;
  margin: 20px;
  word-wrap: break-word;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5%;
  margin-top: 8%;
}

.res{
  float:right;
  background-color: white;
  width: 50%;
  margin: 20px;
  word-wrap: break-word;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3%;
  margin-top: 3%;
}

